.main {

    display: flex;
    flex-direction: column;

}

/*HEADER PART*/
.header {
    display: flex;
    flex-direction: column;
}


.header .header-title {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.header .header-button-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.header-button-container .stock-button {
    margin-left: 15px;
}


/*BODY PART*/

.body-container {
    display: flex;
}

.body-container .output-container {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    border: solid 1px #F9F8F7;
    flex-grow: 2
}

.body-container .output-container .output-container-header{
    margin: 0 auto;
}


